---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: '版权', text: '版权' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} comment>
  <p>Student / Programmer</p>
  <p>
    这里是Fridge,来自南京信息工程大学(2022级),正在努力学习CS&ai的相关知识,已推免至电子科技大学深圳高等研究院, 正投入在时空智能、向量近似搜索领域的研究,后续会在博客中不断更新自己的学习笔记和学术成果. If interested, please feel free to contact me!
  </p>
  <p>
    My motto: Stay hungry, Stay foolish. 此外，<Spoiler>明日方舟UID:691836257</Spoiler>
  </p>

  {/* tools */}
  <h2 id='tools'>工具</h2>
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Claude Code',
        description: 'Vibe Coding tool',
        href: 'https://code.claude.com/docs/zh-CN/overview',
        icon: import('@/assets/tools/claude_ai_icon.svg?raw')
      },
      {
        name: 'Notion',
        description: 'Note Taking',
        href: 'https://www.notion.so/',
        icon: import('@/assets/tools/notion.svg?raw')
      },
      {
        name: 'Chrome',
        description: 'Web Brouser',
        href: 'https://www.google.com/',
        icon: import('@/assets/tools/chrome.svg?raw')
      }
    ]}
  />

  <h2 id='版权'>版权</h2>
    <p>
    本博客所有原创内容（包括但不限于文章、图片、代码示例及设计元素）均采用 CC BY-NC-SA 4.0协议进行许可。
    这意味着你可以自由地分享、转载和改编本站内容，但必须遵守以下条款：
    以适当方式注明原作者及出处链接，不得用于任何商业目的，且改编后的作品必须使用相同的许可协议发布。
      </p>

    <p>
    关于本站使用的第三方素材：
    包括封面在内，本站中使用了一些来自互联网的图片等素材或商标、标志及相关知识产权，无论是否标注有 © 或 ™ 及其他标识，均归属它们各自的权利持有人所有，并无意侵犯其作品、商标或版权。
    如果本站中存在侵犯您权益的内容，请您联系我，我将尽快予以删除。
      </p>

    <p>
    完整的许可协议文本请参见 creativecommons.org/licenses/by-nc-sa/4.0。
      </p>
  
  <h2 id='about-blog'>博客Workflow</h2>
  <ul>
    <li>Domain: <a href='#' target='_blank'>Vercel</a></li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <!-- <li>Resources speedup: <a href='https://cdn.cbd.int/' target='_blank'>CBD CDN</a></li> -->
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>
</PageLayout>
