---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
// import ProjectSection from '@/components/projects/ProjectSection.astro'
// import Sponsors from '@/components/projects/Sponsors.astro'
// import Sponsorship from '@/components/projects/Sponsorship.astro'

const headings = [
  { depth: 2, slug: 'projects', text: 'Projects' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'others', text: 'Others' },
]
---

<PageLayout title='Projects' {headings} view>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/Nonlotus-eater'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can donate to
    support my work or contact me to discuss a project.
  </p>

  <h2 id='projects'>Projects</h2>
  <!-- <ProjectSection
    projects={[
      {
        name: '📒 Notie',
        description:
          'Android note App complies with Material You specifications, developed using Java',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/notie' },
          {
            type: 'release',
            href: 'https://github.com/cworld1/notie/releases'
          }
        ]
      }
    ]}
  /> -->
  <Collapse title='2026'>
    <div class='mt-3 flex flex-col gap-3'>
      <p class='text-sm text-muted-foreground'>Coming soon...</p>
    </div>
  </Collapse>

  <h2 id='learnings'>Learnings</h2>
  <!-- <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'Rust Learning',
        description: 'Some notes and code about CWorld learning Rust',
        links: [{ type: 'github', href: 'https://github.com/cworld1/rust-learning' }]
      }
    ]}
  /> -->
  <Collapse title='2026'>
    <div class='mt-3 flex flex-col gap-3'>
      <p class='text-sm text-muted-foreground'>Coming soon...</p>
    </div>
  </Collapse>

</PageLayout>